@model THIS_Hospital.Classes.Manny_TO_Manny.Staff_Treatment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Staff_Treatment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Staff.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Staff.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Treatment.TreatmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Treatment.TreatmentID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
