@model THIS_Hospital.Treatment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Treatment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentStatus.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentStatus.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.whatsDone.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.whatsDone.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StillAlive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StillAlive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TreatmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
