@model HWI.Proffesion_CauseType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proffesion_CauseType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CauseType.CauseTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CauseType.CauseTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proffesion.Profession_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proffesion.Profession_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
