@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hospital</h1>
    <p class="lead">This Hospital Database is AWSOME</p>
    <p><a href="http://google.se" class="btn btn-primary btn-lg">Google &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stuff</h2>
        <p>
           @Html.ActionLink("Patient>>  ", "Index", "Patients")
            @Html.ActionLink("Staff>>  ", "Index", "Staffs")
            @Html.ActionLink("Proffesion>>  ", "Index", "Proffesions")
            @Html.ActionLink("Prescription>>  ", "Index", "Prescriptions")
            @Html.ActionLink("Treatment>>  ", "Index", "Treatments")
            @Html.ActionLink("TreatmentStatus>>  ", "Index", "TreatmentStatus")
            @Html.ActionLink("WhatsDone>>  ", "Index", "WhatsDones")
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>More Stuff</h2>
        <p>
            @Html.ActionLink("Cause>>  ", "Index", "Causes")
            @Html.ActionLink("CauseType>>  ", "Index", "CauseTypes")
            @Html.ActionLink("Department>>  ", "Index", "Departments")
            @Html.ActionLink("Drug>>  ", "Index", "Drugs")
            @Html.ActionLink("DrugType>>  ", "Index", "DrugTypes")
            @Html.ActionLink("Room>>  ", "Index", "Rooms")
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manny to manny</h2>
        <p>
            @Html.ActionLink("Staff Treatments>>  ", "Index", "Staff_Treatments")
            @Html.ActionLink("Proffesion CauseType>>  ", "Index", "Proffesion_CauseTypes")
           
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>