@model HWI.Drug

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DrugType.Desecription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugType.Desecription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DrugID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
